@import "tailwindcss";

@font-face {
  font-family: "Geist", sans-serif;
  src: url("/fonts/geist/Geist-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist", sans-serif;
  src: url("/fonts/geist/Geist-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist", sans-serif;
  src: url("/fonts/geist/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist", sans-serif;
  src: url("/fonts/geist/Geist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist", sans-serif;
  src: url("/fonts/geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist", sans-serif;
  src: url("/fonts/geist/Geist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Playfair Display */
@font-face {
  font-family: "Playfair", serif;
  src: url("/fonts/playfair/Playfair_144pt-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair", serif;
  src: url("/fonts/playfair/Playfair_144pt-Italic.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair", serif;
  src: url("/fonts/playfair/Playfair_144pt-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair", serif;
  src: url("/fonts/playfair/Playfair_144pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair", serif;
  src: url("/fonts/playfair/Playfair_144pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair", serif;
  src: url("/fonts/playfair/Playfair_144pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair", serif;
  src: url("/fonts/playfair/Playfair_144pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuehas", sans-serif;
  src: url("/fonts/neuehas/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuehas", sans-serif;
  src: url("/fonts/neuehas/NeueHaasDisplayLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neuehas", sans-serif;
  src: url("/fonts/neuehas/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuehas", sans-serif;
  src: url("/fonts/neuehas/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuehas", sans-serif;
  src: url("/fonts/neuehas/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuehas", sans-serif;
  src: url("/fonts/neuehas/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neuehas", sans-serif;
  src: url("/fonts/neuehas/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("/fonts/inter/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("/fonts/inter/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter", sans-serif;
  src: url("/fonts/inter/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-dark: #090909;
  --color-gray: #222222;
  --color-primary: #f7931a;
  --color-accent: #fde3c4;
  --color-light: #f0f0f0;
  --color-primary-darker: #271601;

  --font-family-sans: "Geist", sans-serif;
  --font-family-serif: "Playfair", serif;
  --font-family-neuehas: "Neuehas", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-sans);
  --font-inter: var(--font-family-inter);
  --font-serif: var(--font-family-serif);
  --font-neuehas: var(--font-family-neuehas);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #090909;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.font-serif-custom {
  font-family: var(--font-serif);
}

.background-image {
  background: url("/images/hero.webp") no-repeat center/cover;
  width: 100vw;
  min-height: 100vh;
}

.bg14 {
  background: url("/images/14.svg") no-repeat;
}

.bg15 {
  background: url("/images/15.svg");
}

.my-scroll-container {
  overflow-y: auto !important;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

.my-scroll-container::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Opera */
}
.text-animator {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 1.2em;
}

.text-animator > * {
  display: inline-block;
  transition: all 0.4s ease;
}

.text-animator__visible {
  animation: slideOut 3.3s infinite;
}

.text-animator__invisible {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.text-animator__invisible--1 {
  animation: slideIn 3.3s infinite;
  animation-delay: 0s;
}

.text-animator__invisible--2 {
  animation: slideIn 3.3s infinite;
  animation-delay: 1.1s;
}

@keyframes slideOut {
  0%,
  30.3% {
    visibility: visible;
    transform: translateY(0);
  }
  33.33%,
  100% {
    visibility: hidden;
    transform: translateY(100%);
  }
}

@keyframes slideIn {
  0%,
  30.3% {
    top: -100%;
    visibility: hidden;
  }
  33.33%,
  63.63% {
    top: 0;
    visibility: visible;
  }
  66.66%,
  100% {
    top: 100%;
    visibility: hidden;
  }
}

@media screen and (min-width: 1024px) {
  .text-animator {
    position: absolute !important;
    top: -2%;
  }
  .ok {
    margin-left: 22% !important;
  }

  .background-image {
    min-height: 100vh;
    max-width: 1440px;
  }
}

@media screen and (max-width: 1024px) {
  .ok {
    margin-left: 28% !important;
  }
}

@media screen and (max-width: 1023px) {
  .text-animator {
    position: relative;
    top: 5px;
    left: 0;
    margin-top: 8px;
  }
  .ok {
    margin-left: 0% !important;
  }
  .background-image {
    min-height: 100vh;
  }
}

@media screen and (max-width: 767px) {
  .ok {
    margin-left: 0% !important;
  }
}

@media screen and (max-width: 400px) {
  .background-image {
    min-height: 120vh;
  }

  .ok {
    margin-left: 0% !important;
  }
}
